<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IntegraPOS.Model.Properties.Settings.SYSWF_IntegraPOSConnectionString"
            connectionString="Data Source=DEV-JON\SWNOVA;Initial Catalog=SYSWF_IntegraPOS;User ID=sa;Password=SFD2220175"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>